    .card .card-header span.card-title {
        font-size: 20px;
        /* font-weight: bold; */
        font-family: italic;
    }


    .payment-setting-form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 520px;
    }

    .payment-setting-form-content {
        width: 60%;
    }

    @media all and (max-width: 800px) {
        .payment-setting-form-content {
            width: 100%;
        } 
    }

    .payment-setting-form-content .payment-setting-title {
        text-align: center;
        font-weight: bold;
        font-family: italic;
        opacity: 0.7;
    }

    @media all and (min-width: 800px) {
        .payment-setting-form-content .payment-setting-title {
            padding: 10px;
            border-radius: 4px;
            background-color: #f8f8f8;
        }
    }

    

    .payment-setting-form-content .payment-setting-fields {
        margin-top: 16px;
    }



    .payment-setting-fields .display-device-model-inputs {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .display-device-model-inputs .form-group label {
        font-size: 18px;
        font-family: italic;
        opacity: 0.8;
    }

    .display-device-model-inputs .form-group input {
        cursor: pointer;
    }



    .payment-setting-fields .token-currency-inputs {
        margin-top: 4px;
    }

    .token-currency-inputs div {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .token-currency-inputs div input[type="text"] {
        width: 88%;
    }

    .token-currency-inputs div .dropdown {
        width: 11%;
    }

    @media all and (max-width: 800px) {
        .token-currency-inputs div input:nth-child(1) {
            width: 76%;
        } 
        .token-currency-inputs div .dropdown {
            width: 22%;
        }
    }

    .token-currency-inputs .dropdown button span {
        /* font-weight: bold; */
        font-family: italic;
    }

    .token-currency-inputs .dropdown ul {
        padding: 4px 4px 4px 10px;
    }

    .token-currency-inputs .dropdown ul li {
        /* font-weight: bold; */
        font-family: italic;
    }

    .token-currency-inputs .dropdown ul li:hover {
        background-color: #f8f8ff;
        cursor: pointer;
    } 



    .submit-content {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .submit-content button {
        padding-left: 20px;
        padding-right: 20px;
    }

    .submit-content button span {
        font-size: 16px;
        font-weight: bold;
        font-family: italic;
    }


    .errors-validation {
        margin-top: 20px;
    }

    .errors-validation .error-item {
        text-align: center;
    }

    .errors-validation .error-item span {
        font-size: 18px;
        font-weight: bold;
        font-family: italic;
        color: red;
        opacity: 0.8;
    }