.card .card-header span.card-title {
    font-size: 20px;
    font-weight: bold;
    font-family: italic;
    opacity: 0.6;
}

.card .card-header span.card-title i {
    opacity: 0.4;
}
 

.card .card-header a {
    float: right;
}

.card .card-header a span {
    font-weight: bold;
    font-family: italic;
}


#reset_password_form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#reset_password_form #reset_password_form_content  {
    width: 40%;
}

@media all and (max-width: 770px) {
    #reset_password_form #reset_password_form_content  {
        width: 80%;
    } 
}

#reset_password_form_content h4 {
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #f8f8ff;
    margin-bottom: 16px;
}

#reset_password_form_content h4 span {
    font-size: 22px;
    font-weight: bold;
    font-family: italic;
    opacity: 0.6;
}

#reset_password_form_content .form-group {
    margin-bottom: 4px;
}



#reset_password_form #submit_bloc {
    margin-top: 10px;
}

#submit_bloc div button span {
    font-size: 18px;
    font-weight: bold;
    font-family: italic;
}



label {
    font-size: 18px;
    font-weight: bold;
    font-family: italic;
    /* opacity: 1; */
}

label i[id="required-sign"] {
    color: red;
}

input[type="password"] {
    border-bottom: 2px solid #ccc;
}

