    .card .card-header span {
        font-size: 20px;
        /* font-weight: bold; */
        font-family: italic;
    }

    .card .card-header span i[class="fa fa-tasks"] {
        opacity: 0.4;
    }

    .card .card-header a {
        font-size: 18px;
        font-weight: bold;
        font-family: italic;
        color: black;
        float: right;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px 10px 4px 10px;
    } 

    .card .card-header a:hover {
        opacity: 0.4;
    }

    
    table thead tr th,table tbody tr td {
        font-size: 17px;
        font-family: italic;
    }

    table thead tr th,table tbody tr td:nth-child(3) {
        text-align: justify;
    }

    table thead tr th:nth-child(4) {
        text-align: center;
    }